<div class="row">
  <p *ngFor="let sensor of sensors; let i = index, let last = last, let first = first">
    <span [style.color]="sensor.online ? 'green' : 'red'">{{sensor.name}} </span>
    <span>Online = {{sensor.online}}</span>
  </p>
</div>
<div class="row">
  <div class="rbuttons">
    <div class="add">
      <button (click)="addSensor()">Добавить датчик</button>
      <input type="text" [(ngModel)]="addOnline" />
    </div>
    <button (click)="deleteSensor()">Удалить датчик</button>
  </div>
</div>







