.row {
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:100%;
  align-items:center;
}
span {
  display:block;
}
.rbuttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:250px;
}
.add {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
button,input{
  text-align:center;
  font-size:20px;
  padding:5px 10px;
}
button {
  outline:0;
  border:0;
  background-color:lightblue;
}
input {
  width:60px;
  padding:3px;
}
p {
  margin-bottom:5px;
  margin-top:5px;
  text-align:center;
  font-size:20px;
  font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}
